{% extends 'base.html.twig' %}

{% block title %}Hello AnimauxController!{% endblock %}

{% block body %}
	<p>je suis le controller des animaux</p>
	<a href="nouveau">pour ce renseigne </a>
{% endblock %}
