{% extends 'base.html.twig' %}
{% block body %}
	<p>j'ai ete cree recement</p>
	<a href="animaux">pour ce renseigne des animaux</a>
	{% for d in donne %}

		<p>je vint</p>
	    
	{% endfor %}
	
{% endblock %}